dialog {
    opacity: 0;
    scale: 0;
    display: block;
    padding: 10px;
    margin: auto;
}

dialog[open] {
    background-color: gainsboro;
    opacity: 1;
    scale: 1.4;
    transition: all 0.4s;
    box-shadow: 0 0 1em rgb(0, 0, 0 / .3);
    border: none;
    outline: none;
}

strong {
    text-align: center;
}