dialog {
    opacity: 0;
    scale: 0;
    display: block;
    transition: all 0.5s;
    padding: 10px;
    margin-top: 200px;
    margin-left: 500px;
   }

   dialog[open] {
    opacity: 1;
    scale: 2;
   }

   dialog button {
   cursor: pointer;
   padding: 4px;
   margin-left: 250px;
   }