*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  background-color:  rgb(38, 42, 43);
  color: #f0f0f0;
  font-family: Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 40px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 18px 0;
  background-image: linear-gradient(to right, #f44336, #ff9800, #ffeb3b, #4caf50, #2196f3, #9c27b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header img {
  margin-right: 10px;
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
}

#DT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

#DT h2 {
  font-size: 48px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

#DT p{
  font-size: 20px;
}

form {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

input {
  width: 220px;
}

form button {
  padding: 8px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: margin-top 0.2s;
}

form button:hover{
  margin-top: -2px;
  background-color: #03683C;

}

#weather {
  display: none;
  margin-top: 10px;
  background-color: rgb(24, 26, 27);
  padding: 15px 36px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-right: 10px;
}

#weather span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#weather img {
  width: 70px;
  height: 70px
}

#winfo p {
  font-size: 24px;
  margin-bottom: 10px;
}

#cityName {
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin-right: 60px;
}

#temperature::before,
#humidity::before,
#wind::before,
#description::before {
  content: "\2022";
  display: inline-block;
  margin-right: 8px;
  color: #2196f3;
}


/* footer */
footer {
  margin-top: auto;
  text-align: center;
}

footer img {
  height: 30px;
}
